/*pop up 1 */
#moreEmployeePopUp { 
    display:none; 
    background-color: #FFFFFF;
    width: 700px;
    height: 500px;
    box-shadow: 1px 1px 10px 10px #ffffff;
    border-radius: 50px;                
}

.b-close{
    cursor:pointer;
    position:absolute;
    right:-20px;
    top:-20px;
    opacity:0.75;
}
.b-close:hover {
    opacity:1;
}           

.popupHead {
    background-color:#dedede; 
    margin : 5px;
    margin-bottom: 0px;
    color: black;
    font-size: 14px;
    vertical-align: middle;
    padding:5px;
    padding-left: 10px;
    height: 25px;
}

.popupContent {
    background-color:#dedede; 
    margin : 5px;
    color: black;
    font-size: 15px;
    vertical-align: middle;
    height: 420px;
    overflow: auto;
}

.popupBottom {
    background-color:#dedede; 
    margin : 5px;
    margin-top: 0px;
    color: black;
    font-size: 15px;
    vertical-align: middle;
    padding:5px;
    padding-left: 10px;
    height: 25px;
}

/*pop up 2 */
#moreAgeRangePopUp { 
    display:none; 
    background-color: #FFFFFF;
    width: 700px;
    height: 500px;
    box-shadow: 1px 1px 10px 10px #ffffff;
    border-radius: 50px;                
}

/*pop up 3 */
#moreADeptPopUp { 
    display:none; 
    background-color: #FFFFFF;
    width: 700px;
    height: 500px;
    box-shadow: 1px 1px 10px 10px #ffffff;
    border-radius: 50px;                
}

/*pop up 4 */
#moreFactorPopUp { 
    display:none; 
    background-color: #FFFFFF;
    width: 700px;
    height: 500px;
    box-shadow: 1px 1px 10px 10px #ffffff;
    border-radius: 50px;                
}
